/* star(*) applies to everything in the webpage*/

* {
    margin: 0;
}

/* everything in the html*/
html {
    height: 100vh;
}

/* EVERYTHING BETWEEN BODY TAGS*/
body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #3C715E;
    padding-top:20px;
}


/*navbar*/
.wrapper-home{
    padding-bottom: 20px;
    background-color: #ccb5b3;
    width: 100%;
    height: 20px;
    position: sticky;
    top: 0;
}
.wrapper-home ul {
    list-style: none;
    position: sticky;
    top: 0;
}
.wrapper-home ul li {
    float: left;
    padding: 5px;
}
.wrapper-home ul li a{
    text-decoration: none;
    color: #4b2b2e;
    font-weight: 500;
    font-size:20px;
    dispay: block;
    padding: 10px;
}
.wrapper-home ul li a:hover{
    color: white;
}


/* Home Page Main Content*/
.container{
    padding: 10px;
    text-align: center;
    padding-top: 60px;
}


/*ABOUT PAGE MAIN CONTENT*/
.wrapper-main-about{
    display: flex;
    justify-content: center;
}

.box1 {
    box-sizing: border-box;
    background-color: #4b2b2e;
    height: 250px;
    width: 500px;
    margin: 8px;
    padding: 5px;
}
.box2 {
    box-sizing: border-box;
    background-color: #4b2b2e;
    height: 250px;
    width: 500px;
    margin: 8px;
    padding: 5px;
}
.box3 {
    box-sizing: border-box;
    background-color: #4b2b2e;
    height: 250px;
    width: 500px;
    margin: 8px;
    padding: 5px;
}
.box4 {
    box-sizing: border-box;
    background-color: #4b2b2e;
    height: 250px;
    width: 500px;
    margin: 8px;
    padding: 5px;
}

/* IMAGES IN BOXES */
.img-pink-tree{
    width: 80px;
}
.img-red-tree{
    width: 80px;
}
.img-road{
    width: 80px;
}
.img-umbrella{
    width: 80px;
}
/* Footer */
.footer {
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #cccccc;
    border-top: 2px solid;
    border-color: black;
    color: #6c7a81;
    text-align: center;
}


/* WHEN BROWSER WIDTH IS 800PX OR LESS */
@media screen and (max-width: 800px) {
    .box1{width: 100%;}
    .box2{width: 100%;}
    .box3{width: 100%;}
    .box4{width: 100%;}

    .wrapper-main-about{
        display: flex;
        flex-direction: column;
    }
    .footer{
        position: relative;
    }
    .container{
        display: flex;
        flex-direction: column;
    }

}

/* WHEN BROWSER WIDTH IS 800PX OR MORE */
@media screen and (min-width: 800px) {
    .box1{width: 250px;}
    .box2{width: 250px;}
    .box3{width: 250px;}
    .box4{width: 250px;}

    .wrapper-main-about{
        display: flex;
        margin: 8px;
        flex-wrap: wrap;
    }
    .container{
        display: flex;
        margin: 8px;
    }
}
